<!DOCTYPE html>
<html>
<head>
  <title>G5 prom rails</title>
  <%= stylesheet_link_tag    "g5_prom_rails/application", media: "all" %>
  <%= javascript_include_tag "g5_prom_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
